<% current_user.follows?(user) ? str = "following" : str = "unfollowing" %>
<button type="button" class = "follow-toggle" name="button"
  data-user-id="<%= user.id  %>" data-initial-follow-state="<%= str %>"></button>
